{% extends "base.html" %}

{% block content %}
<div class="d-flex flex-column align-items-center justify-content-center text-center" style="min-height: 60vh;">
    <img src="{{ url_for('static', filename='PontoDeLuzLogo.jpg') }}"
         alt="Ponto de Luz"
         style="height: 500px;">

    <h1 class="mt-4" style="color: #2E2E2E;">
        Bem-vindo ao sistema Ponto de Luz!
    </h1>
    <p class="lead mt-2" style="color: #2E2E2E;">
        Escolha uma opção no menu acima para gerenciar seus produtos, vendas e relatórios.
    </p>
    <p class="mt-5 text-muted">
        "Vocês são a luz do mundo. Não se pode esconder uma cidade construída sobre um monte. E, também, ninguém acende
        uma candeia e a coloca debaixo de uma vasilha. Pelo contrário, coloca-a no lugar apropriado, e assim ilumina
        a todos os que estão na casa. Assim brilhe a luz de vocês diante dos homens, para que vejam as suas boas
        obras e glorifiquem ao Pai de vocês, que está nos céus".
    </p>
    <p class="mt-1 text-muted">
    Mateus 5:14-16
    </p>
</div>
{% endblock %}
