{% extends "base.html" %}

{% block content %}
<h3>Produtos</h3>
<a class="btn btn-primary mb-3" href="/produtos/novo">Novo Produto</a>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Código</th>
        <th>Nome</th>
        <th>Categoria</th>
        <th>Custo</th>
        <th>Venda</th>
        <th>Estoque</th>
    </tr>

    {% for p in produtos %}
    <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.codigo }}</td>
        <td>{{ p.nome }}</td>
        <td>{{ p.categoria }}</td>
        <td>R$ {{ p.preco_custo }}</td>
        <td>R$ {{ p.preco_venda }}</td>
        <td>{{ p.estoque_atual }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

